TestClient/Service References/TestServiceReference/Nexogen.WIRE.Gis.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Nexogen.WIRE.Gis" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Nexogen.WIRE.Gis" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfGeoPointWithCountry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GeoPointWithCountry" nillable="true" type="tns:GeoPointWithCountry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGeoPointWithCountry" nillable="true" type="tns:ArrayOfGeoPointWithCountry" />
  <xs:complexType name="GeoPointWithCountry">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GeoPoint">
        <xs:sequence>
          <xs:element name="_x003C_Country_x003E_k__BackingField" type="xs:unsignedByte" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GeoPointWithCountry" nillable="true" type="tns:GeoPointWithCountry" />
  <xs:complexType name="GeoPoint">
    <xs:sequence>
      <xs:element minOccurs="0" name="Latitude" type="xs:double" />
      <xs:element minOccurs="0" name="Longitude" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GeoPoint" nillable="true" type="tns:GeoPoint" />
  <xs:complexType name="ArrayOfGeoPointWithCountryValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GeoPointWithCountryValue" type="tns:GeoPointWithCountryValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGeoPointWithCountryValue" nillable="true" type="tns:ArrayOfGeoPointWithCountryValue" />
  <xs:complexType name="GeoPointWithCountryValue">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="_x003C_Country_x003E_k__BackingField" type="xs:unsignedByte" />
      <xs:element name="_x003C_Latitude_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_Longitude_x003E_k__BackingField" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GeoPointWithCountryValue" nillable="true" type="tns:GeoPointWithCountryValue" />
  <xs:complexType name="ArrayOfGeoPosition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GeoPosition" nillable="true" type="tns:GeoPosition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGeoPosition" nillable="true" type="tns:ArrayOfGeoPosition" />
  <xs:complexType name="GeoPosition">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GeoPoint">
        <xs:sequence>
          <xs:element minOccurs="0" name="Heading" nillable="true" type="xs:short" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GeoPosition" nillable="true" type="tns:GeoPosition" />
  <xs:complexType name="ArrayOfGeoPositionValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GeoPositionValue" type="tns:GeoPositionValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGeoPositionValue" nillable="true" type="tns:ArrayOfGeoPositionValue" />
  <xs:complexType name="GeoPositionValue">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="_x003C_Heading_x003E_k__BackingField" nillable="true" type="xs:short" />
      <xs:element name="_x003C_Latitude_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_Longitude_x003E_k__BackingField" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GeoPositionValue" nillable="true" type="tns:GeoPositionValue" />
  <xs:complexType name="ArrayOfGeoPositionWithCountry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GeoPositionWithCountry" nillable="true" type="tns:GeoPositionWithCountry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGeoPositionWithCountry" nillable="true" type="tns:ArrayOfGeoPositionWithCountry" />
  <xs:complexType name="GeoPositionWithCountry">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GeoPosition">
        <xs:sequence>
          <xs:element minOccurs="0" name="Country" type="xs:unsignedByte" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GeoPositionWithCountry" nillable="true" type="tns:GeoPositionWithCountry" />
  <xs:complexType name="ArrayOfGeoPositionWithCountryValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GeoPositionWithCountryValue" type="tns:GeoPositionWithCountryValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGeoPositionWithCountryValue" nillable="true" type="tns:ArrayOfGeoPositionWithCountryValue" />
  <xs:complexType name="GeoPositionWithCountryValue">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="_x003C_Country_x003E_k__BackingField" type="xs:unsignedByte" />
      <xs:element name="_x003C_Heading_x003E_k__BackingField" nillable="true" type="xs:short" />
      <xs:element name="_x003C_Latitude_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_Longitude_x003E_k__BackingField" type="xs:double" />
      <xs:element name="hash" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GeoPositionWithCountryValue" nillable="true" type="tns:GeoPositionWithCountryValue" />
  <xs:complexType name="Route">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RouteInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="Maneuvers" nillable="true" type="tns:ArrayOfManeuver" />
          <xs:element minOccurs="0" name="Nodes" nillable="true" type="tns:ArrayOfUGeoId" />
          <xs:element minOccurs="0" name="Polygon" nillable="true" type="tns:GeoPolygon" />
          <xs:element minOccurs="0" name="Segments" nillable="true" type="tns:ArrayOfSegment" />
          <xs:element minOccurs="0" name="Waypoints" nillable="true" type="tns:ArrayOfWaypoint" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Route" nillable="true" type="tns:Route" />
  <xs:complexType name="RouteInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Arguments" nillable="true" type="tns:RouteArguments" />
      <xs:element minOccurs="0" name="BoundingBox" type="tns:BoundingBox" />
      <xs:element minOccurs="0" name="Data" type="tns:DistanceDurationCost" />
      <xs:element minOccurs="0" name="HighwayDistance" type="xs:int" />
      <xs:element minOccurs="0" name="TollRoadDistance" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RouteInfo" nillable="true" type="tns:RouteInfo" />
  <xs:complexType name="RouteArguments">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ExceptionIds" nillable="true" type="q1:ArrayOfint" />
      <xs:element minOccurs="0" name="ExceptionPaths" nillable="true" type="tns:ArrayOfArrayOfUGeoId" />
      <xs:element minOccurs="0" name="Options" type="tns:RouteOptions" />
      <xs:element minOccurs="0" name="SelectedCountries" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Selector" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RouteArguments" nillable="true" type="tns:RouteArguments" />
  <xs:complexType name="ArrayOfArrayOfUGeoId">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfUGeoId" nillable="true" type="tns:ArrayOfUGeoId" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfUGeoId" nillable="true" type="tns:ArrayOfArrayOfUGeoId" />
  <xs:complexType name="ArrayOfUGeoId">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UGeoId" type="tns:UGeoId" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUGeoId" nillable="true" type="tns:ArrayOfUGeoId" />
  <xs:complexType name="UGeoId">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="iuCode" type="xs:int" />
      <xs:element minOccurs="0" name="n" type="xs:int" />
      <xs:element minOccurs="0" name="tID" type="xs:long" />
      <xs:element minOccurs="0" name="xOff" type="xs:int" />
      <xs:element minOccurs="0" name="yOff" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UGeoId" nillable="true" type="tns:UGeoId" />
  <xs:simpleType name="RouteOptions">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="None">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="UseGeodataSourcePermanent" />
          <xs:enumeration value="DisableTruckAttributes" />
          <xs:enumeration value="EnableSegmentViolation" />
          <xs:enumeration value="EnableFerry" />
          <xs:enumeration value="UseFuzzyRouting" />
          <xs:enumeration value="EnableWromholeSegmentViolation" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="RouteOptions" nillable="true" type="tns:RouteOptions" />
  <xs:complexType name="BoundingBox">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="BottomRight" type="tns:GeoPointValue" />
      <xs:element minOccurs="0" name="TopLeft" type="tns:GeoPointValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BoundingBox" nillable="true" type="tns:BoundingBox" />
  <xs:complexType name="GeoPointValue">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Latitude" type="xs:double" />
      <xs:element minOccurs="0" name="Longitude" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GeoPointValue" nillable="true" type="tns:GeoPointValue" />
  <xs:complexType name="DistanceDurationCost">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Cost" type="xs:int" />
      <xs:element minOccurs="0" name="Distance" type="xs:int" />
      <xs:element minOccurs="0" name="Duration" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DistanceDurationCost" nillable="true" type="tns:DistanceDurationCost" />
  <xs:complexType name="ArrayOfManeuver">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Maneuver" type="tns:Maneuver" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfManeuver" nillable="true" type="tns:ArrayOfManeuver" />
  <xs:complexType name="Maneuver">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Instruction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SucceedingSegmentIndex" type="xs:int" />
      <xs:element minOccurs="0" name="Type" type="tns:ManeuverType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Maneuver" nillable="true" type="tns:Maneuver" />
  <xs:simpleType name="ManeuverType">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="unsignedByte" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="FURTHER" />
      <xs:enumeration value="KEEP" />
      <xs:enumeration value="TURN" />
      <xs:enumeration value="UTURN" />
      <xs:enumeration value="ENTER" />
      <xs:enumeration value="EXIT" />
      <xs:enumeration value="ENTER_ROUNDABOUT" />
      <xs:enumeration value="STAY_IN_ROUNDABOUT" />
      <xs:enumeration value="EXIT_ROUNDABOUT" />
      <xs:enumeration value="CHANGE_HIGHWAY" />
      <xs:enumeration value="ENTER_FERRY_OR_PB" />
      <xs:enumeration value="EXIT_FERRY_OR_PB" />
      <xs:enumeration value="EXIT_ROUNDABOUT_AND_ENTER" />
      <xs:enumeration value="EXIT_ROUNDABOUT_AND_ENTER_FERRY" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ManeuverType" nillable="true" type="tns:ManeuverType" />
  <xs:complexType name="GeoPolygon">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Points" nillable="true" type="q2:ArrayOfanyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GeoPolygon" nillable="true" type="tns:GeoPolygon" />
  <xs:complexType name="ArrayOfSegment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Segment" type="tns:Segment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSegment" nillable="true" type="tns:ArrayOfSegment" />
  <xs:complexType name="Segment">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="AccumulatedDistance" type="xs:int" />
      <xs:element minOccurs="0" name="AccumulatedTime" type="xs:int" />
      <xs:element minOccurs="0" name="BrunnelCode" type="tns:BrunnelCode" />
      <xs:element minOccurs="0" name="FirstNodeIndex" type="xs:int" />
      <xs:element minOccurs="0" name="FirstPolygonIndex" type="xs:int" />
      <xs:element minOccurs="0" name="HasExtraToll" type="xs:boolean" />
      <xs:element minOccurs="0" name="HasNamedToll" type="xs:boolean" />
      <xs:element minOccurs="0" name="HasToll" type="xs:boolean" />
      <xs:element minOccurs="0" name="HasVignette" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsFerry" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPiggyBack" type="xs:boolean" />
      <xs:element minOccurs="0" name="NodeCount" type="xs:int" />
      <xs:element minOccurs="0" name="PolygonCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Segment" nillable="true" type="tns:Segment" />
  <xs:simpleType name="BrunnelCode">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="unsignedByte" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="NOTHING" />
      <xs:enumeration value="BRIDGE_OVER_WATER" />
      <xs:enumeration value="TUNNEL_UNDER_WATER" />
      <xs:enumeration value="BRIDGE_OVER_TRAIN" />
      <xs:enumeration value="TUNNEL_UNDER_TRAIN" />
      <xs:enumeration value="BRIDGE_OVER_STREET" />
      <xs:enumeration value="TUNNEL_UNDER_STREET" />
      <xs:enumeration value="BRIDGE" />
      <xs:enumeration value="TUNNEL" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BrunnelCode" nillable="true" type="tns:BrunnelCode" />
  <xs:complexType name="ArrayOfWaypoint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Waypoint" nillable="true" type="tns:Waypoint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWaypoint" nillable="true" type="tns:ArrayOfWaypoint" />
  <xs:complexType name="Waypoint">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GeoPoint">
        <xs:sequence>
          <xs:element minOccurs="0" name="AccumulatedDistance" type="xs:int" />
          <xs:element minOccurs="0" name="AccumulatedTime" type="xs:int" />
          <xs:element minOccurs="0" name="ManeuverIndex" type="xs:int" />
          <xs:element minOccurs="0" name="NodeBehindIndex" type="xs:int" />
          <xs:element minOccurs="0" name="OutgoingSegmentIndex" type="xs:int" />
          <xs:element minOccurs="0" name="PolygonBehindIndex" type="xs:int" />
          <xs:element minOccurs="0" name="Type" type="tns:WaypointType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Waypoint" nillable="true" type="tns:Waypoint" />
  <xs:simpleType name="WaypointType">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="unsignedByte" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="UNKNOWN" />
      <xs:enumeration value="START" />
      <xs:enumeration value="VIA">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="END">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="WaypointType" nillable="true" type="tns:WaypointType" />
  <xs:complexType name="ArrayOfGeoPointValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GeoPointValue" type="tns:GeoPointValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGeoPointValue" nillable="true" type="tns:ArrayOfGeoPointValue" />
  <xs:complexType name="ArrayOfGeoPoint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GeoPoint" nillable="true" type="tns:GeoPoint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGeoPoint" nillable="true" type="tns:ArrayOfGeoPoint" />
</xs:schema>