TestClient/Service References/TestServiceReference/Nexogen.Utils.Time.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Nexogen.Utils.Time" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Nexogen.Utils.Time" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="SingleSchedule">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ScheduleBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SingleSchedule" nillable="true" type="tns:SingleSchedule" />
  <xs:complexType name="ScheduleBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="From" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Until" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="exceptions" nillable="true" type="q1:ArrayOfdateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ScheduleBase" nillable="true" type="tns:ScheduleBase" />
  <xs:complexType name="WeeklySchedule">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ScheduleBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="DailyIntervalCount" type="xs:int" />
          <xs:element minOccurs="0" name="dailyIntervals" nillable="true" type="tns:ArrayOfArrayOfWeeklySchedule.DailyInterval" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WeeklySchedule" nillable="true" type="tns:WeeklySchedule" />
  <xs:complexType name="ArrayOfArrayOfWeeklySchedule.DailyInterval">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfWeeklySchedule.DailyInterval" nillable="true" type="tns:ArrayOfWeeklySchedule.DailyInterval" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfWeeklySchedule.DailyInterval" nillable="true" type="tns:ArrayOfArrayOfWeeklySchedule.DailyInterval" />
  <xs:complexType name="ArrayOfWeeklySchedule.DailyInterval">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WeeklySchedule.DailyInterval" nillable="true" type="tns:WeeklySchedule.DailyInterval" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWeeklySchedule.DailyInterval" nillable="true" type="tns:ArrayOfWeeklySchedule.DailyInterval" />
  <xs:complexType name="WeeklySchedule.DailyInterval">
    <xs:sequence>
      <xs:element name="_x003C_EndHour_x003E_k__BackingField" type="xs:unsignedByte" />
      <xs:element name="_x003C_EndMinute_x003E_k__BackingField" type="xs:unsignedByte" />
      <xs:element name="_x003C_StartHour_x003E_k__BackingField" type="xs:unsignedByte" />
      <xs:element name="_x003C_StartMinute_x003E_k__BackingField" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WeeklySchedule.DailyInterval" nillable="true" type="tns:WeeklySchedule.DailyInterval" />
  <xs:complexType name="YearlySchedule">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ScheduleBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="YearlyEnd" type="xs:dateTime" />
          <xs:element minOccurs="0" name="YearlyStart" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="YearlySchedule" nillable="true" type="tns:YearlySchedule" />
</xs:schema>