TestClient/Service References/TestServiceReference/Nexogen.WIRE.Bll.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Nexogen.WIRE.Bll" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Nexogen.WIRE.Bll" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Nexogen.WIRE.Gis" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Nexogen.WIRE.Bll.Entities" />
  <xs:complexType name="ArrayOfLocation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Location" nillable="true" type="tns:Location" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLocation" nillable="true" type="tns:ArrayOfLocation" />
  <xs:complexType name="Location">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Nexogen.WIRE.Gis" base="q1:GeoPositionWithCountry">
        <xs:sequence>
          <xs:element minOccurs="0" name="LocationId" type="xs:int" />
          <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Location" nillable="true" type="tns:Location" />
  <xs:complexType name="ArrayOfTrack">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Track" nillable="true" type="tns:Track" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrack" nillable="true" type="tns:ArrayOfTrack" />
  <xs:complexType name="Track">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Nexogen.WIRE.Gis" base="q2:GeoPositionWithCountry">
        <xs:sequence>
          <xs:element minOccurs="0" name="Odo" type="xs:int" />
          <xs:element minOccurs="0" name="TS" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Track" nillable="true" type="tns:Track" />
  <xs:simpleType name="AETR561Errors">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="ContiguousDrivingTime" />
      <xs:enumeration value="ContiguousWorkingTime" />
      <xs:enumeration value="DailyDrivingTime" />
      <xs:enumeration value="DailyWorkingTime" />
      <xs:enumeration value="FortnightlyDrivingTime" />
      <xs:enumeration value="WeeklyDrivingTime" />
      <xs:enumeration value="DayLength" />
      <xs:enumeration value="OperationalWeekTime" />
      <xs:enumeration value="NumberOfExtendedDrivingPeriods" />
      <xs:enumeration value="NumberOfReducedRestPeriods" />
      <xs:enumeration value="PermittedNumberOfWeeksFromLastNotReducedWeeklyRest" />
      <xs:enumeration value="WeekLength" />
      <xs:enumeration value="DayTime" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AETR561Errors" nillable="true" type="tns:AETR561Errors" />
  <xs:simpleType name="QualcommSupposableErrors">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="None">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="DayDrive">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="WeekDrive">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="FortnightyDrive">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="ContinousDrive">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="WeekRestCompensationTotal">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">16</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="WeekRestCompensation">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">32</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="ContinousLabourShort">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">64</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="ExtendedDriving">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">128</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="ReducedDayRests">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">256</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="SplitDayRest">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">512</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="DayDuty">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1024</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="NumberOfWeeksFromLastNotReducedWeeklyRest">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2048</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="QualcommSupposableErrors" nillable="true" type="tns:QualcommSupposableErrors" />
  <xs:simpleType name="QualcommConsistencyErrors">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="None">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="DurationExceedsContinousLabourShort">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="DurationExceedsContinuousDrive">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="WeekRestCompensationExceedsWeekRestCompensationTotal">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="StartDayExceedsLastEvent">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="StartOpWeekExceedsStartDay">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">16</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="ContinuousLabourShortExceedsDayDuty">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">32</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="DayDriveExceedsDayDuty">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">64</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="ContinuousDriveExceedsDayDrive">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">128</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="DayDriveExceedsWeekDrive">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">256</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="WeekDriveExceedsFortnightlyDrive">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">512</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="DurationExceedsDayDuty">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1024</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="QualcommConsistencyErrors" nillable="true" type="tns:QualcommConsistencyErrors" />
  <xs:complexType name="CommonData">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Organizations" nillable="true" type="q3:ArrayOfKeyValueOfintstring" />
      <xs:element minOccurs="0" name="Pois" nillable="true" type="tns:ArrayOfPoi" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SaddleHeights" nillable="true" type="q4:ArrayOfKeyValueOfintstring" />
      <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SuperstructureGroups" nillable="true" type="q5:ArrayOfKeyValueOfintSuperstructureGroupJ4uX98Oy" />
      <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SuperstructureTypes" nillable="true" type="q6:ArrayOfKeyValueOfintstring" />
      <xs:element minOccurs="0" name="TimeStamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommonData" nillable="true" type="tns:CommonData" />
  <xs:complexType name="ArrayOfPoi">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Poi" nillable="true" type="tns:Poi" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPoi" nillable="true" type="tns:ArrayOfPoi" />
  <xs:complexType name="Poi">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/Nexogen.WIRE.Bll.Entities" base="q7:TicketHolderBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Costs" nillable="true" type="tns:ArrayOfPoiCostAvability" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DistanceMeters" type="xs:int" />
          <xs:element minOccurs="0" name="EndLocation" nillable="true" type="tns:Location" />
          <xs:element minOccurs="0" name="HasAdBlue" type="xs:boolean" />
          <xs:element minOccurs="0" name="PoiId" type="xs:int" />
          <xs:element minOccurs="0" name="RelativeFuelCost" type="xs:float" />
          <xs:element minOccurs="0" name="RestOnFerry" type="xs:boolean" />
          <xs:element minOccurs="0" name="SafetyLevel" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="StartLocation" nillable="true" type="tns:Location" />
          <xs:element minOccurs="0" name="TravelDuration" type="ser:duration" />
          <xs:element minOccurs="0" name="Type" type="tns:LocationType" />
          <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Nexogen.WIRE.Gis" minOccurs="0" name="WormholeRoute" nillable="true" type="q8:Route" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Poi" nillable="true" type="tns:Poi" />
  <xs:complexType name="ArrayOfTicket">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ticket" nillable="true" type="tns:Ticket" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTicket" nillable="true" type="tns:ArrayOfTicket" />
  <xs:complexType name="Ticket">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" type="tns:TicketCategory" />
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Severity" type="tns:TicketSeverity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ticket" nillable="true" type="tns:Ticket" />
  <xs:simpleType name="TicketCategory">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Debug" />
      <xs:enumeration value="Data" />
      <xs:enumeration value="Routing" />
      <xs:enumeration value="Erp" />
      <xs:enumeration value="Corridoring" />
      <xs:enumeration value="Incident" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TicketCategory" nillable="true" type="tns:TicketCategory" />
  <xs:simpleType name="TicketSeverity">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Debug" />
      <xs:enumeration value="Info" />
      <xs:enumeration value="Warning" />
      <xs:enumeration value="Error" />
      <xs:enumeration value="Critical" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TicketSeverity" nillable="true" type="tns:TicketSeverity" />
  <xs:complexType name="ArrayOfPoiCostAvability">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PoiCostAvability" nillable="true" type="tns:PoiCostAvability" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPoiCostAvability" nillable="true" type="tns:ArrayOfPoiCostAvability" />
  <xs:complexType name="PoiCostAvability">
    <xs:sequence>
      <xs:element minOccurs="0" name="BaseCost" type="xs:float" />
      <xs:element minOccurs="0" name="CostByDriver" type="xs:float" />
      <xs:element minOccurs="0" name="CostHours" type="xs:float" />
      <xs:element minOccurs="0" name="EmissionStandard" type="xs:float" />
      <xs:element minOccurs="0" name="FerryProvider" type="xs:int" />
      <xs:element minOccurs="0" name="Schedule" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PoiCostAvability" nillable="true" type="tns:PoiCostAvability" />
  <xs:simpleType name="LocationType">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Invalid">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Parking">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Border">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Tunnel">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Ferry">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="GasStation">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">16</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Loading">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">32</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Unloading">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">64</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Customs">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">128</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Waypoint">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">256</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="HookUp">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">512</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="HookDown">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1024</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="ObligatoryWaypoint">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2048</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Transload">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4096</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="OtherTask">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8192</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="InitTask">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">16384</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="DriverChangeDown">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">32768</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="DriverChangeUp">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">65536</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="SiteDest">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">131072</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="SiteSource">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">262144</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="ActualPosition">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">524288</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="LocationType" nillable="true" type="tns:LocationType" />
  <xs:complexType name="SuperstructureGroup">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prioirty" type="xs:int" />
      <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SuperStructureTypes" nillable="true" type="q9:ArrayOfint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SuperstructureGroup" nillable="true" type="tns:SuperstructureGroup" />
  <xs:complexType name="RoutingData">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CommonData">
        <xs:sequence>
          <xs:element minOccurs="0" name="Tours" nillable="true" type="tns:ArrayOfTour" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RoutingData" nillable="true" type="tns:RoutingData" />
  <xs:complexType name="ArrayOfTour">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tour" nillable="true" type="tns:Tour" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTour" nillable="true" type="tns:ArrayOfTour" />
  <xs:complexType name="Tour">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/Nexogen.WIRE.Bll.Entities" base="q10:TicketHolderBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="TourId" type="xs:int" />
          <xs:element minOccurs="0" name="TourNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrderInfos" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Operators" nillable="true" type="tns:ArrayOfOperator" />
          <xs:element minOccurs="0" name="Tasks" nillable="true" type="tns:ArrayOfTask" />
          <xs:element minOccurs="0" name="HasBasePlan" type="xs:boolean" />
          <xs:element minOccurs="0" name="InProgress" type="xs:boolean" />
          <xs:element minOccurs="0" name="RequestedParkingSecurityLevel" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="LoadedKm" type="xs:float" />
          <xs:element minOccurs="0" name="EmptyKm" type="xs:float" />
          <xs:element minOccurs="0" name="Cost" type="xs:float" />
          <xs:element minOccurs="0" name="Resource" nillable="true" type="tns:Resource" />
          <xs:element minOccurs="0" name="Positions" nillable="true" type="tns:ArrayOfTrack" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Tour" nillable="true" type="tns:Tour" />
  <xs:complexType name="ArrayOfOperator">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Operator" nillable="true" type="tns:Operator" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOperator" nillable="true" type="tns:ArrayOfOperator" />
  <xs:complexType name="Operator">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" type="tns:OperatorType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Operator" nillable="true" type="tns:Operator" />
  <xs:simpleType name="OperatorType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Owner" />
      <xs:enumeration value="Assistant" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OperatorType" nillable="true" type="tns:OperatorType" />
  <xs:complexType name="ArrayOfTask">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Task" nillable="true" type="tns:Task" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTask" nillable="true" type="tns:ArrayOfTask" />
  <xs:complexType name="Task">
    <xs:sequence>
      <xs:element minOccurs="0" name="TaskId" type="xs:int" />
      <xs:element minOccurs="0" name="Type" type="tns:LocationType" />
      <xs:element minOccurs="0" name="OriginalType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PoiId" type="xs:int" />
      <xs:element minOccurs="0" name="Poi" nillable="true" type="tns:Poi" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="tns:Location" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsBooked" type="xs:boolean" />
      <xs:element minOccurs="0" name="CargoType" type="tns:CargoType" />
      <xs:element minOccurs="0" name="CargoWeight" type="xs:float" />
      <xs:element minOccurs="0" name="IsFixed" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsCompleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="FerryProvider" type="xs:int" />
      <xs:element minOccurs="0" name="Odo" type="xs:int" />
      <xs:element minOccurs="0" name="Eta" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FactEta" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StartingPositionIndex" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="EndingPositionIndex" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DurationHours" type="xs:float" />
      <xs:element minOccurs="0" name="FactDurationHours" nillable="true" type="xs:float" />
      <xs:element minOccurs="0" name="WaitHours" type="xs:float" />
      <xs:element minOccurs="0" name="FactWaitHours" nillable="true" type="xs:float" />
      <xs:element minOccurs="0" name="FuelLevel" type="xs:float" />
      <xs:element minOccurs="0" name="FuelConsumption" type="xs:float" />
      <xs:element minOccurs="0" name="FuelingLiters" type="xs:float" />
      <xs:element minOccurs="0" name="TollRoadCost" type="xs:float" />
      <xs:element minOccurs="0" name="FactTollRoadCost" nillable="true" type="xs:float" />
      <xs:element minOccurs="0" name="OtherRoadCost" type="xs:float" />
      <xs:element minOccurs="0" name="DailyCountryCost" type="xs:float" />
      <xs:element minOccurs="0" name="RestBetweenDrive" type="xs:float" />
      <xs:element minOccurs="0" name="DistanceFromPrevTask" type="xs:float" />
      <xs:element minOccurs="0" name="FactDistanceFromPrevTask" nillable="true" type="xs:float" />
      <xs:element minOccurs="0" name="DrivingFromPrevTask" type="xs:float" />
      <xs:element minOccurs="0" name="RemainingDrivingHours" type="xs:float" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Nexogen.WIRE.Gis" minOccurs="0" name="Route" nillable="true" type="q11:Route" />
      <xs:element minOccurs="0" name="BusinessEta" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RestEnabled" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Task" nillable="true" type="tns:Task" />
  <xs:simpleType name="CargoType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Normal" />
      <xs:enumeration value="ADR" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CargoType" nillable="true" type="tns:CargoType" />
  <xs:complexType name="Resource">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActualFuelLevel" type="xs:float" />
      <xs:element minOccurs="0" name="ActualFuelLevelManualTimeStamp" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ActualFuelLevelOdo" type="xs:int" />
      <xs:element minOccurs="0" name="ActualFuelLevelTimeStamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ActualLocation" nillable="true" type="tns:Location" />
      <xs:element minOccurs="0" name="ActualLocationManualTimeStamp" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ActualLocationOdo" type="xs:int" />
      <xs:element minOccurs="0" name="ActualLocationTimeStamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AdditionalFuelConsumption" type="xs:float" />
      <xs:element minOccurs="0" name="BaseFuelConsumption" type="xs:float" />
      <xs:element minOccurs="0" name="DestinationLocation" nillable="true" type="tns:Location" />
      <xs:element minOccurs="0" name="DestinationLocationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DestinationLocationFuelLevel" type="xs:float" />
      <xs:element minOccurs="0" name="DestinationLocationIsBooked" type="xs:boolean" />
      <xs:element minOccurs="0" name="DestinationLocationType" type="tns:LocationType" />
      <xs:element minOccurs="0" name="DestinationLocationTypeOriginal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DirectionCountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Drivers" nillable="true" type="tns:ArrayOfDriver" />
      <xs:element minOccurs="0" name="EmissionStandard" type="xs:float" />
      <xs:element minOccurs="0" name="IsDestinationLocationFactDate" type="xs:boolean" />
      <xs:element minOccurs="0" name="OrganizationId" type="xs:int" />
      <xs:element minOccurs="0" name="SuperstructureTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="TankSize" type="xs:int" />
      <xs:element minOccurs="0" name="TrailerChassisNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrailerPlateNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrailerSaddleHeightId" type="xs:int" />
      <xs:element minOccurs="0" name="TrailerVehicleId" type="xs:int" />
      <xs:element minOccurs="0" name="TruckChassisNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TruckPlateNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TruckSaddleHeightId" type="xs:int" />
      <xs:element minOccurs="0" name="TruckVehicleId" type="xs:int" />
      <xs:element minOccurs="0" name="VASType" type="tns:VASType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Resource" nillable="true" type="tns:Resource" />
  <xs:complexType name="ArrayOfDriver">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Driver" nillable="true" type="tns:Driver" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDriver" nillable="true" type="tns:ArrayOfDriver" />
  <xs:complexType name="Driver">
    <xs:sequence>
      <xs:element minOccurs="0" name="CardId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DidbCardExpire" type="xs:dateTime" />
      <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ForbiddenCountries" nillable="true" type="q12:ArrayOfstring" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastHomeDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="State" nillable="true" type="tns:QualcommState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Driver" nillable="true" type="tns:Driver" />
  <xs:complexType name="QualcommState">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activity" type="tns:QualcommActivity" />
      <xs:element minOccurs="0" name="ActivityTimeStamp" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CardId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContinousDriveTimeStamp" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ContinousLabourShortTimeStamp" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ContinuousDrive" type="xs:int" />
      <xs:element minOccurs="0" name="ContinuousLabourShort" type="xs:int" />
      <xs:element minOccurs="0" name="DayDrive" type="xs:int" />
      <xs:element minOccurs="0" name="DayDriveTimeStamp" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DayDuty" type="xs:int" />
      <xs:element minOccurs="0" name="DayDutyTimeStamp" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EndOfLastNotReducedWeeklyRest" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExtendedDriving" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="ExtendedDrivingTimeStamp" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FortnightlyDrive" type="xs:int" />
      <xs:element minOccurs="0" name="FortnightyDriveTimeStamp" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsCoDriver" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastEvent" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastEventTimeStamp" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ReducedDayRests" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="ReducedDayRestsTimeStamp" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SplitDayRest" type="xs:int" />
      <xs:element minOccurs="0" name="SplitDayRestTimeStamp" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StartDay" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StartDayTimeStamp" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StartOpWeek" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StartOpWeekTimeStamp" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TimeStamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="WeekDrive" type="xs:int" />
      <xs:element minOccurs="0" name="WeekDriveTimeStamp" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="WeekRestCompensation" type="xs:int" />
      <xs:element minOccurs="0" name="WeekRestCompensationTimeStamp" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="WeekRestCompensationTotal" type="xs:int" />
      <xs:element minOccurs="0" name="WeekRestCompensationTotalTimeStamp" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QualcommState" nillable="true" type="tns:QualcommState" />
  <xs:simpleType name="QualcommActivity">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="unsignedByte" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Drive" />
      <xs:enumeration value="Work" />
      <xs:enumeration value="Rest" />
      <xs:enumeration value="Wait" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="QualcommActivity" nillable="true" type="tns:QualcommActivity" />
  <xs:simpleType name="VASType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Normal" />
      <xs:enumeration value="VAS" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="VASType" nillable="true" type="tns:VASType" />
  <xs:complexType name="DriverTicket">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Ticket">
        <xs:sequence>
          <xs:element minOccurs="0" name="CardId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DriverTicket" nillable="true" type="tns:DriverTicket" />
  <xs:complexType name="ResourceTicket">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Ticket">
        <xs:sequence>
          <xs:element minOccurs="0" name="ResourceId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResourceTicket" nillable="true" type="tns:ResourceTicket" />
  <xs:complexType name="ExceptionTicket">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Ticket">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExceptionTicket" nillable="true" type="tns:ExceptionTicket" />
  <xs:complexType name="LocationTicket">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TaskTicket">
        <xs:sequence>
          <xs:element minOccurs="0" name="LocationId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LocationTicket" nillable="true" type="tns:LocationTicket" />
  <xs:complexType name="TaskTicket">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Ticket">
        <xs:sequence>
          <xs:element minOccurs="0" name="TaskId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TaskTicket" nillable="true" type="tns:TaskTicket" />
  <xs:complexType name="PoiLocationTicket">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Ticket">
        <xs:sequence>
          <xs:element minOccurs="0" name="EndLocationId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="StartLocationId" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PoiLocationTicket" nillable="true" type="tns:PoiLocationTicket" />
</xs:schema>