TestClient/Service References/TestServiceReference/Nexogen.Utils.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Nexogen.Utils" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Nexogen.Utils" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="IntSeconds">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IntSeconds" nillable="true" type="tns:IntSeconds" />
  <xs:complexType name="IntEuroCents">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IntEuroCents" nillable="true" type="tns:IntEuroCents" />
</xs:schema>