TestClient/Service References/TestServiceReference/WcfBinarySurrogate.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfBinarySurrogate" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfBinarySurrogate" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ParentClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomChild" nillable="true" type="tns:CustomChild" />
      <xs:element minOccurs="0" name="CustomChildren" nillable="true" type="tns:ArrayOfCustomChild" />
      <xs:element minOccurs="0" name="NormalChild" nillable="true" type="tns:NormalChild" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParentClass" nillable="true" type="tns:ParentClass" />
  <xs:complexType name="CustomChild">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomChild" nillable="true" type="tns:CustomChild" />
  <xs:complexType name="ArrayOfCustomChild">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomChild" nillable="true" type="tns:CustomChild" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomChild" nillable="true" type="tns:ArrayOfCustomChild" />
  <xs:complexType name="NormalChild">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NormalChild" nillable="true" type="tns:NormalChild" />
</xs:schema>